<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class='round-container default-bg'>
  <div class='form-group'>
    <label for='username' class='text-label'>Username: </label>
    <input type='text' id='username' class='text-input' formControlName='username'>
  </div>
  <span
    *ngIf="!loginForm.get('username').valid &&
    loginForm.get('username').dirty"
  class='validation-label'>Username must have 4-20 characters</span>
  <div class='form-group'>
    <label for='password' class='text-label'>Password: </label>
    <input type='password' id='password' class='text-input' formControlName='password'>
  </div>
  <span
    *ngIf="!loginForm.get('password').valid &&
    loginForm.get('password').dirty"
  class='validation-label'>Password must have 4-20 characters</span>
  <div>
    <button class='btn' [disabled]="!loginForm.valid" type='submit'>Login</button>
  </div>
  <span *ngIf="error">{{ error }}</span>
</form>
