form {
  display: flex;
  flex-flow: column wrap;
  padding: 2em;
  justify-content: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  .form-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    label {
      font-size: 1.5em;
    }
  }
}
