<header class='default-bg'>
    <div class='bar-corner flow-left'>
        <a routerLink='/' *ngIf="router.url != '/' && isAuthenticated" class='btn'>Home</a>
        <h2 class='title'>Weather Remastered</h2>
    </div>
    <div class='bar-corner flow-right'>
        <a *ngIf="router.url != '/login' && !isAuthenticated" routerLink='/login' class='btn'>Login</a>
        <a *ngIf="isAuthenticated" class='btn' (click)="onLogout()">Logout</a>
        <a *ngIf="isAuthenticated && router.url != '/history'" routerLink='/history' class='btn'>History</a>
        <p *ngIf="isAuthenticated" class='text-label'>Logged in as {{username}}</p>
    </div>
</header>
