header {
    color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: calc(-50vw + 50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .bar-corner {
      display: flex;
      align-items: center;

      .btn {
        margin: 1em;
      }
    }

    .flow-left {
      flex-flow: row wrap;
    }

    .flow-right {
      flex-flow: row-reverse wrap;
    }
}
