body {
  //background-image: url("assets/background_image.jpg");
  background: url(assets/background_image.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .btn {
    background-color: rgb(233, 233, 233);
    color: rgb(39, 46, 71);
    font-size: 1em;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 0.667em;
    border: none;
    text-decoration: none;
  }

  .btn:disabled {
    background-color: rgb(180, 180, 180);
  }

  .btn:not(:disabled).btn:hover {
    background-color: rgb(199, 199, 199);
  }

  .default-bg {
    background-color: rgba(0, 0, 0, 0.356);
  }

  .error-bg {
    background-color: rgba(94, 0, 0, 0.356);
  }

  .round-container {
    border-radius: 1em;
    margin-top: 1em;
  }

  .text-label {
    color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    //font-size: 1em;
  }

  .text-input {
    margin: 1em;
    background-color: transparent;
    font-size: 1.5em;
    margin: 0.5em 1em 0.5em 1em;
    color: white;
    outline: none;
    border: none;
    border-bottom: 2px solid;
  }

  .text-input.ng-invalid.ng-dirty {
    border-color: red;
  }

  @media only screen and (min-width: 530px) {
    .text-input {
      width: fit-content;
    }
  }

  @media only screen and (max-width: 530px) {
    .text-input {
      width: 90%;
    }
  }

  .validation-label {
    color: red;
    margin: 1em;
  }
}
