<div class='box round-container default-bg'>
    <div class='weather-row text-label'>
        <img src='http://openweathermap.org/img/wn/{{weather.weatherStatus.icon}}@2x.png' width='100' height='100'>
        <p>
            {{weather.weatherStatus.temp}}°C, {{weather.weatherStatus.weatherType}} in {{weather.weatherStatus.town}}
        </p>
    </div>
    <button class='btn' (click)="onResetButton()">Reset</button>
</div>
