.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.weather-row {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    margin: 30px;
}
