<div class=center>
  <div class='round-container default-bg main'>
    <h2 class='text-label header'>Requests history for {{ historyService.username }}</h2>
    <div *ngFor="let status of historyService.userHistory">
      <hr>
      <p class='text-label'>
        {{status.town}}: {{status.temp}}°C, {{status.weatherType}} on {{formatDate(status.date)}}
      </p>
    </div>
  </div>
</div>

