.center {
  display: flex;
  justify-content: center;

  .main {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    width: fit-content;

    h2 {
      align-items: center;
      height: fit-content;
    }

    hr {
      border-top: 2px solid rgb(233, 233, 233);
    }

    .header {
      height: 3em;
    }
  }
}

