<div class='box round-container error-bg'>
    <div class='weather-row text-label'>
        <p>
            Error: {{getErrorString()}}.
        </p>
        <button class='btn' (click)="onResetButton()">Reset</button>
    </div>
</div>
