.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.weather-row {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;

    p {
      font-size: 1.5em;
    }

    * {
      margin: 1em;
    }
}

