<form [formGroup]="cityForm" (ngSubmit)="onCitySend()" class='round-container default-bg text-label'>
    <div class='form-group'>
        <input type='text' class='text-input' formControlName='city'>
        <button class='btn' [disabled]="!cityForm.get('city').valid" type='submit'>Send</button>
    </div>
    <span *ngIf="!cityForm.get('city').valid && cityForm.get('city').dirty"
    class='validation-label'>City names may consist of letters only.</span>
</form>
