form {
  display: flex;
  flex-flow: column wrap;
  padding: 2em;
  justify-content: center;
  align-content: center;
  text-align: center;

  .form-group {
    display: flex;
    flex-flow: row;
  }
}
