<div class='box round-container default-bg text-label'>
    <h1>Welcome to Weather Remastered!</h1>
    <p>On this website you can enter a city name and see the current weather in it.</p>
    <a routerLink='/weather' class='btn'>Weather</a>
</div>
